@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  --accent: #4ed17b;
  --white-dark: #e2e2e2;
  --white-light: #FFFFFF;
  --grey-dark: #333333;
  --grey-light: #666666;
}

.cards {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.card {
  width: 15rem;
  height: auto;
  background: var(--white-light);
  border: solid 1px var(--white-dark);
}

.card__image {
  width: 15rem;
  height: 10.25rem;
}

.card__body {
  padding: 1.5rem 1.25rem;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.card__title {
  font-size: 1rem;
  font-weight: bold;
  padding: 0;
  margin: 0;
  color: var(--grey-dark);
}

.card__text {
  font-size: 0.75rem;
  color: var(--grey-dark);
}

.card__price {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0;
  margin: 0;
  color: var(--grey-dark);
}

.btn--cart {
  height: 2rem;
  width: 2.5rem;
  cursor: pointer;
  background: var(--accent);
  color: var(--white-light);
  border: solid 1px var(--white-dark);
  border-radius: 5px;
}
