@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
}

.card {
  width: 15rem;
  height: auto;
}

.card__image {
  width: 15rem;
  height: 10.25rem;
}
